* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(18, 18 , 18, 0.9);
  font-family: "Montserrat", sans-serif, Arial;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo img {
    width: 250px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 100;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-1 {
    background-color: #303f9f;
    border-radius: 50px;

}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Smartphones (portrait and landscape) */
@media  screen and (max-width: 1223px) {

    body {
        overflow-x: hidden;
    }

    .logo img {
        width: 200px;
    }

    nav {
    height: 150px;
      }

  .nav-links {
    position: absolute;
    right: 0px;
    /* height: 90vh;
    top: 10vh; */
    height: calc(var(--vh, 1vh) * 90);
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: start;
    background-color: rgba(18, 18 , 18, 0.9);
    }

  .nav-links li {
      opacity: 0;
      margin: 50px 0;
  }

  .nav-links li:first-child {
    margin: 40px 0 50px 0;
}

  .burger {
      display: block;
      cursor: pointer;
  }

  .scroll-down img {
    width: 50px;
  }

  .about {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }

  .welcome-message {
    font-family: "Montserrat";
    width: 100%;
  }
  .welcome-message h1 {
    font-size: 2em;
    text-align: start;
    margin: 50px 0 15px 30px;
  }

  .welcome-message h2 {
    font-size: 1.3em;
    text-align: start;
    margin: 15px 30px 0 30px;
    font-weight: 300;
  }

  .image-container {
    align-content: center;
  }
  
  .beer-img {
    width: 100%;
  }
  
  .inline-link {
    text-decoration: none;
    list-style: none;
    color: black;
  }
  
  .inline-link:hover {
  color:#303f9f;
  }

}

/* Desktops and laptops */
@media screen and (min-width: 1224px) {
  .nav-links {
    width: 40%;
  }

  .about {
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
  }
  
  .welcome-message {
    font-family: "Montserrat";
    width: 100%;
  }
  
  .welcome-message h1 {
    font-size: 4em;
    text-align: start;
    margin: 200px 0 -50px 200px;
  }
  
  .welcome-message h2 {
    font-size: 4em;
    text-align: start;
    margin: 90px 200px 0 200px;
    font-weight: 300;
  }
  
  .image-container {
    align-content: center;
  }
  
  .beer-img {
    width: 33%;
  }
  
  .inline-link {
    text-decoration: none;
    list-style: none;
    color: black;
  }
  
  .inline-link:hover {
  color:#303f9f;
  }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.main {
  background-image: url('./Assets/pexels-maximiliano-carrizo-1921420.jpg');
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 .scroll-down img {
  position: absolute;
  top: 80vh;
  right: 0;
  left: 0;
  margin: auto;
  height: 200px;
}

