* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  height: 10vh;
  background-color: rgba(18, 18, 18, 0.9);
  font-family: "Montserrat", sans-serif, Arial;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo img {
  width: 250px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 100;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-1 {
  background-color: #303f9f;
  border-radius: 50px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Smartphones (portrait and landscape) */
@media screen and (max-width: 1223px) {
  .logo img {
    width: 200px;
  }

  nav {
    height: 150px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    /* height: 90vh;
    top: 10vh; */
    height: calc(var(--vh, 1vh) * 90);
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: start;
    background-color: rgba(18, 18, 18, 0.9);
  }

  .nav-links li {
    opacity: 0;
    margin: 50px 0;
  }

  .nav-links li:first-child {
    margin: 40px 0 50px 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

/* Desktops and laptops */
@media screen and (min-width: 1224px) {
  .nav-links {
    width: 40%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main {
  background-image: url("./Assets/pexels-maximiliano-carrizo-1921420.jpg");
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about {
  display: flex;
  flex-flow: row wrap;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: space-between;
  align-content: flex-start;
}

.about-header {
  width: 80%;
  margin: 160px 10% 0 10%;
  height: auto;
}

.about-header h1 {
  font-weight: 900;
  font-size: 4.2rem;
  margin-bottom: 2%;
}

.about-text {
  width: 35%;
  margin: 5% 5% 0 10%;
}

.about-text br {
  margin-bottom: 27px;
}

.about-text p {
  font-weight: 200;
  line-height: 34px;
  margin: 27px 0;
}

.about-text p:first-child {
  margin: 0 0 27px 0;
}

.history-block {
  width: 40%;
  background-color: rgba(16, 24, 75, 1);
  margin: 5% 10% 0 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.history-block h2 {
  font-weight: 900;
  font-size: 3.3rem;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.history-block ul {
  list-style: none;
}

.history-block ul li {
  margin: 60px 0;
}

table {
  color: #fff;
  width: 90%;
  margin: 0 5%;
  border-collapse:separate;
  border-spacing:0 2rem;
}

td, th {
  padding: 1rem;
}

.year-column {
  width: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.milestone-column {
  font-weight: 200;
  font-size: 1rem;
}


@media screen and (max-width: 780px) {
  .about {
    flex-flow: row wrap;
  }

  .about-text {
    width: 80%;
    margin: 10% 10% 0 10%;
  }

  .history-block {
    width: 80%;
    margin:0 10%;
  }
}


